* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: monospace;
}

header {
  display: flex;
  justify-content: center;
  background-color: #4387DA;
}

body {
  background-color: #4387DA;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='560' height='1440' preserveAspectRatio='none' viewBox='0 0 560 1440'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1010%26quot%3b)' fill='none'%3e%3crect width='560' height='1440' x='0' y='0' fill='rgba(67%2c 135%2c 218%2c 1)'%3e%3c/rect%3e%3cpath d='M76.29 544.33L121.97 544.33L121.97 590.01L76.29 590.01z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M285.97 1273.06L324.57 1273.06L324.57 1288.87L285.97 1288.87z' stroke='rgba(255%2c 203%2c 5%2c 1)'%3e%3c/path%3e%3cpath d='M294.53 1303.07 a37.88 37.88 0 1 0 75.76 0 a37.88 37.88 0 1 0 -75.76 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M197.09 1071.34 a25.61 25.61 0 1 0 51.22 0 a25.61 25.61 0 1 0 -51.22 0z' stroke='rgba(119%2c 119%2c 119%2c 1)'%3e%3c/path%3e%3cpath d='M341.46 114.29L372.02 114.29L372.02 140.91L341.46 140.91z' fill='rgba(119%2c 119%2c 119%2c 1)'%3e%3c/path%3e%3cpath d='M397.58 1434.28L434.32 1434.28L434.32 1471.02L397.58 1471.02z' stroke='rgba(119%2c 119%2c 119%2c 1)'%3e%3c/path%3e%3cpath d='M54.23 1313.72L106.34 1313.72L106.34
